<div style="background: #2B2B2B; position: fixed; top: 0; width: 100vw; height: 5px;"></div>
<div style="border: 1px solid #f00; position: sticky; top: 5px; background: #2B2B2B;">
  <span class="link-source">Source on GitHub: <a href="https://github.com/hsplit/Angular-Notes" target="_blank">https://github.com/hsplit/Angular-Notes</a></span>
  <h1 style="margin: 0;"><b>Welcome to {{ title }}!</b></h1>
  <img width="50" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
  <div class="part">
    <label>Read Me<input type="checkbox" #Readme checked></label>
  </div>
  <div class="part">
    <label>Part one <input type="checkbox" #Part1 checked></label>
  </div>
  <div class="part">
    <label>Part two <input type="checkbox" #Part2></label>
  </div>
  <div class="part">
    <label>Part three <input type="checkbox" #Part3></label>
  </div>
  <div class="part">
    <label>Part four <input type="checkbox" #Part4></label>
  </div>
</div>
<div>
  <div *ngIf="Readme.checked" class="readme">
    Source on GitHub: <a href="https://github.com/hsplit/Angular-Notes" target="_blank">https://github.com/hsplit/Angular-Notes</a><br><br>
    Part1: <span>Интерполяция, data bind, event, link.</span><br>
    Part2: <span>Component, @Input, *ngIf, *ngFor, @Output, Double Bind - ngModel, ng-content.</span><br>
    Part3: <span>Directive, exportAs, структурная директива.</span><br>
    Part4: <span>Service, HttpClientModule.</span><br>
    <br>
    Create project: <span>ng new angular-notes --style=scss</span><br>
    Configure if created without --style: <span>ng set defaults.styleExt scss</span><br>
    Or edit file **angular.json**: <span>example in <a href="https://github.com/hsplit/Angular-Notes">readme.md</a></span><br>
    <br>
    Create component: <span>ng g c my-component</span><br>
    Create directive: <span>ng g d my-directive</span><br>
    Create service: <span>ng g s my-data</span>
  </div>
  <div *ngIf="Part1.checked">
    <div class="block">
      <div><b class="caption caption_first">Интерполяция</b> <span>{{</span> выражение <span>}}</span></div>
      <div class="ts"><b class="caption">TS</b> {{ interpTS }}</div>
      <div class="html"><b class="caption">HTML</b> {{ interpHTML }}</div>
      <div class="result"><b class="caption">Result</b> x + 10 = {{ x + 10 }}</div>
    </div>
    <div class="block">
      <div><b class="caption caption_first">Data bind</b> [атрибут] = "выражение" </div>
      <div class="style"><b class="caption">Style</b> {{ bindStyle }}</div>
      <div class="ts"><b class="caption">TS</b> {{ bindTS }}</div>
      <div class="html"><b class="caption">HTML</b> {{ bindHTML }}</div>
      <div class="result"><b class="caption">Result</b> <span [class]="myClass">Hello</span> </div>
    </div>
    <div class="block">
      <div><b class="caption caption_first">JoyCasino
        <span [style.opacity]="myClassCasino.length%10/10">♥</span></b>  Data bind + setInterval
      </div>
      <div class="style"><b class="caption">Style</b> {{ casinoStyle }}</div>
      <div class="ts"><b class="caption">TS</b> {{ casinoTS }} </div>
      <div class="html">
        <b class="caption">HTML</b> {{ casinoHTML }} <br>
        <b class="caption"></b> {{ casinoAdditional }}
      </div>
      <div class="result"><b class="caption">Result</b><span [class]="myClassCasino">JoyCasino</span></div>
    </div>
    <div class="block">
      <div><b class="caption caption_first">Event</b> (событие) = "выражение" </div>
      <div class="ts"><b class="caption">TS</b> {{ eventTS }}</div>
      <div class="html"><b class="caption">HTML</b> {{ eventHTML }}</div>
      <div class="result"><b class="caption">Result</b> <span (click)="myClick($event)"> Click me!</span> </div>
      <div class="html"><b class="caption">HTML</b> {{ eventInputHTML }}</div>
      <div class="result"><b class="caption">Result</b>
        Color: <input type="text" (input)="$event.target.style.backgroundColor = $event.target.value" value="#E03136">
      </div>
    </div>
    <div class="block">
      <div><b class="caption caption_first">Ссылки</b> #название </div>
      <div class="html"><b class="caption">HTML</b> {{ linkHTML }}</div>
      <div class="result"><b class="caption">Result</b>
        <span #mySpan> Color: </span>
        <input type="text" (input)="mySpan.style.color = $event.target.value" value="#E03136">
      </div>
    </div>
  </div>
  <div *ngIf="Part2.checked">
    <my-component [message]="'Hello world!'" (newTitleMy)="newTitleApp($event)" [(titleMy)]="title">
      <H3>Loading...</H3>
    </my-component>
  </div>
  <div *ngIf="Part3.checked">
    <div class="block">
      <div><b class="caption caption_first">Directive</b> {{ directiveCaption }}</div>
      <div class="ts"><b class="caption">TS Bind</b> {{ directiveTSbind }}</div>
      <div class="ts"><b class="caption">TS Listen</b> {{ directiveTSlisten }}</div>
      <div class="html"><b class="caption">HTML app</b> {{ directiveHTMLapp }}</div>
      <div class="result"><b class="caption">Result</b>
        <span appMyDirective style="user-select: none; cursor: pointer;">Click me and i will change color.</span>
      </div>
      <div class="note"><b class="caption">Примечание</b><br>При использовании директивы она создается каждый раз. Т.е. если создать поле count, то оно будет разным в разных местах где применена директива.</div>
    </div>
    <div class="block">
      <div><b class="caption caption_first">Directive export</b> </div>
      <div class="ts"><b class="caption">TS</b> {{ exportTS }}</div>
      <div class="html">
        <b class="caption">HTML app</b> {{ exportHTMLbtn }} <br>
        <b class="caption"></b> {{ exportHTMLelem }}
      </div>
      <div class="result"><b class="caption">Result</b>
        <button (click)="myDir.myColor='yellow'">Be yellow!</button>
        <span appMyDirective #myDir="myExport" style="user-select: none; cursor: pointer;"> Click me and i will change color.</span>
      </div>
    </div>
    <div class="block">
      <div><b class="caption caption_first">*Directive</b> {{ directiveCaptionStruct }}</div>
      <div class="ts"><b class="caption">TS</b> {{ directiveTSStruct }}</div>
      <div class="html"><b class="caption">HTML app</b> {{ directiveHTMLappStruct }}</div>
      <div class="result"><b class="caption">Result</b>
        <label style="cursor: pointer; text-decoration: underline;">Отрисовано <input type="checkbox" #refresh checked></label>
        <span *ngIf="refresh.checked">
          <span *appMyStructDirective>Текст, который появляется с запозданием.</span>
        </span>
      </div>
      <div class="note"><b class="caption">Примечание</b><br>Директива добавляет отображение с задержкой, чтобы пронаблюдать нужно снять и поставить флаг у "Отрисовано", и с задержкой будет отображен элемент. Можно также передавать параметры через @Input, в HTML это будет записано например так: *appMyStructDirective="параметр".</div>
    </div>
  </div>
  <div *ngIf="Part4.checked">
    <div class="block">
      <div><b class="caption caption_first">Service</b> {{ serviceTSmodule }}</div>
      <div class="ts"><b class="caption">TS service</b> {{ serviceTS }}</div>
      <div class="ts"><b class="caption">TS app.comp</b> {{ serviceTSapp }}</div>
      <div class="html"><b class="caption">HTML</b> {{ serviceHTMLapp1 }}</div>
      <div class="html"><b class="caption"></b> {{ serviceHTMLapp2 }}</div>
      <div class="result"><b class="caption">Result</b>
        Words from dataService: <span *ngFor="let item of getAllWords()">{{ item.word }} </span>
      </div>
      <div class="result"><b class="caption"></b>
        Нажать Enter для добавления слова в сервис:
        <input type="text" (keyup.enter)="addWord($event.target.value)">
      </div>
    </div>
    <div class="block">
      <div><b class="caption caption_first">HttpClientModule</b> {{ httpTSmodule }}</div>
      <div class="ts"><b class="caption">TS service</b> {{ serviceTShttp }}</div>
      <div class="ts"><b class="caption">TS app.comp</b> {{ serviceTSapphttp }}</div>
      <div class="html"><b class="caption">HTML</b> {{ serviceHTMLapphttp }}</div>
      <div class="result"><b class="caption">Result</b>
        Data from Http: <span *ngFor="let item of getDataHttp()">{{ item }} </span>
      </div>
    </div>
  </div>
</div>
